@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-transform: none;
    text-decoration: none;
}
.header {
   background-color: #fff;
   
  }
.header .logo {
    color: #d93526;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
.logo-tech {
    color: #130f40;
    font-size: 25px;
}
.navbar a{
    text-decoration: none;
    color: #130f40;
}
.header .icons a, .header .icons div{
    -webkit-text-stroke: 2px #130f40;
    background-color: #ffffff;
    cursor: pointer;
}
.header .icons div:hover, .header .icons a:hover{
    -webkit-text-stroke: 2px #d93526;
}
section {
    padding: 2rem 10%;
  }

/*styling the carousel section*/
.carousel .carousel-inner .carousel-item img{
    height: 75vh;
}
.carousel .carousel-inner .carousel-item .carousel-caption{
    margin-bottom: 100px;    
}
.shop-now{
    margin-top: 1rem;
    background-color: #d93526;
    color: #ffffff;
    border: none;
    padding: 0.7rem 2.7rem;
}
.shop-now:hover{
    background-color: #130f40;
}
.carousel .carousel-inner .carousel-item .carousel-caption h2{
    color: #d1cdfd;
    font-size: 40px;
    word-spacing: 2px;
}
.carousel .carousel-control-prev-icon{
    width: 4rem;
    height: 4rem;
    border: 0.2rem solid #d93526;
    background-color: #130f40;
    border-radius: 50%;
    color: #d93526;
    padding: 0%;
}
.carousel .carousel-control-next-icon{
    width: 4rem;
    height: 4rem;
    border: 0.2rem solid #d93526;
    background-color: #130f40;
    border-radius: 50%;
    color: #d93526;
    padding: 0%;
}
.carousel .carousel-control-next-icon:hover{
    background-color: #d93526;
    color: #ffffff;
}
.carousel .carousel-control-prev-icon:hover{
    background-color: #d93526;
    color: #ffffff;
}
/*banner section starts*/
.banner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    padding: 5rem;
    padding-bottom: 0%;
    
  }
  .banner-container .banner {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    overflow: hidden;
    height: 30rem;
    position: relative;
  }
  .banner-container .banner:hover img {
    -webkit-transform: scale(1.1);       
  }
  .banner-container .banner .content {
    position: absolute;
    top: 50%;
    right: 2rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .banner-container .banner .content span{
    color: #1b8a35;
    font-size: 25px;
  }
  .banner-container .banner .content h2{
    color: #130f40;
    font-size: 40px;
    word-spacing: 2px;
  }
/*banner section ends*/

/*exclusive products section starts*/
.heading {
    font-size: 4rem;
    color: #130f40;
    padding-bottom: 1rem;
    text-align: center;
    text-transform: capitalize;
  }
  .heading span {
    color: #eb4d4b;
    text-transform: capitalize;
  }
.products .filter-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 2.5rem;
  }
  .products .filter-button .buttons {
    font-size: 1.2rem;
    color: #666;
    text-transform: capitalize;
    cursor: pointer;
  }
  .products .filter-button .buttons:hover, .products .filter-button .buttons.active{
    color: #eb4d4b;
    text-decoration: underline;
  }
  .products .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .products .box-container .box {
    width: 25rem;
    overflow: hidden;
    position: relative;
    border: 0.16rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .products .box-container .box.hide {
    display: none;
  }
  .products .box-container .box.active {
    -webkit-animation: fadeUp 0.9s ease-in;
            animation: fadeUp 0.9s ease-in;
  }
  .products .box-container .box .icons {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 35rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.5rem;
    background-color: rgba(0, 0, 0, 0.59);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .products .box-container .box .icons a {
    font-size: 1.9rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    border: 0.16rem solid rgba(0, 0, 0, 0.3);
  }
  .products .box-container .box:hover .icons {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .products .box-container .box .image {
    height: 35rem;
    width: 100%;
    overflow: hidden;
  }
  .products .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .products .box-container .box:hover .image img {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  .products .box-container .box .content {
    padding: 1rem 1.4rem;
  }
  .products .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
    font-weight: normal;
  }
  .products .box-container .box .content .price {
    padding: 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products .box-container .box .content .price .amount {
    font-size: 2.2rem;
    color: #130f40;
    font-weight: bolder;
  }
  .products .box-container .box .content .price .cut {
    font-size: 1.5rem;
    color: #666;
    text-decoration: line-through;
  }
  .products .box-container .box .content .price .offer {
    font-size: 1.7rem;
    color: #eb4d4b;
    font-weight: 600;
  }
  .products .box-container .box .content .stars i {
    font-size: 2rem;
    color: gold;
    margin-right: 0.3rem;
  }  
  .products .box-container .box .content .stars span {
    font-size: 1.6rem;
    font-weight: 700;
    color: #666;
  }

 

  /*exclusive products section ends*/

  /*summer collection section starts*/
  .deals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(21%, #eee));
    background: linear-gradient(#fff 20%, #eee 21%);
  }
  .deals .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  .deals .image img {
    width: 35rem;
  }
  .deals .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  .deals .content span {
    font-size: 1.3rem;
    color: #eb4d4b;
    text-transform: capitalize;
  }
  .deals .content h3 {
    font-size: 2.5rem;
    color: #130f40;
    margin: 0.5rem 0;
    text-transform: capitalize;
  }
  .deals .content p {
    font-size: 2.0rem;
    color: #666;
  }
    /*summer collection section ends*/


    /*featured products section starts*/
    .featured .featured-slider .slide {
    overflow: hidden;
    position: relative;
    border: 0.16rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    }
    .featured .featured-slider .slide .icons{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 32rem;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      gap: 1.5rem;
      background-color: rgba(0, 0, 0, 0.59);
      -webkit-transform: scale(0);
          transform: scale(0);
    }
    .featured .featured-slider .slide .icons a{
      font-size: 1.9rem;
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
      text-align: center;
      border-radius: 50%;
      background-color: #fff;
      border: 0.16rem solid rgba(0, 0, 0, 0.3);
    }
    .featured .featured-slider .slide:hover .icons{
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    .featured .featured-slider .slide .image{
      height: 32rem;
      width: 100%;
      overflow: hidden;
    }
    .featured .featured-slider .slide .image img{
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
    .featured .featured-slider .slide:hover .image img{
      -webkit-transform: scale(1.15);
      transform: scale(1.15);
    }
    .featured .featured-slider .slide .content{
      padding: 1rem 1.4rem;
    }
    .featured .featured-slider .slide .content h3 {
      font-size: 1rem;
      color: #130f40;
      font-weight: normal;
    }
    .featured .featured-slider .slide .content .price{
      padding: 0.5rem 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 0.5rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .featured .featured-slider .slide .content .price .amount{
      font-size: 1.5rem;
      color: #130f40;
      font-weight: bolder;
    }
    .featured .featured-slider .slide .content .price .cut {
      font-size: 1rem;
      color: #666;
      text-decoration: line-through;
    }
    .featured .featured-slider .slide .content .price .offer {
      font-size: 1rem;
      color: #eb4d4b;
      font-weight: 600;
    }
    .featured .featured-slider .slide .content .stars i{
      font-size: 1.2rem;
      color: gold;
      margin-right: 0;
    }
    
      /*featured products section ends*/

      /* review section starts*/
      .reviews{
        padding-top: 5rem;
        padding-bottom: 5rem;
        background-color: #f9f9f9;
      }
      .reviews .review-slider .slide{
        border-radius: 0.5rem;
        background-color: #fff;
        border: 0.16rem solid rgba(0, 0, 0, 0.3);
        padding: 2.5rem;
        text-align: center;
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      }
      .reviews .review-slider .slide p{
        font-size: 1.5rem;
        color: #666;
        margin-bottom: 2rem;
        display: -webkit-box;
        -webkit-line-clamp: 3 !important;
        -webkit-box-orient: vertical !important;
        overflow: hidden;
        height: 7rem;
      }
      .reviews .review-slider .slide .user{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 2.5rem;
      }
      .reviews .review-slider .slide .user img{
        width: 8rem;
        height: 8rem;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%;
      }
      .reviews .review-slider .slide .user .info h5{
        font-size: 2rem;
        color: #130f40;
        font-weight: 400;
        text-transform: capitalize;
      }
      .reviews .review-slider .slide .user .info span {
        font-size: 1.7rem;
        color: #eb4d4b;
      }
      /* review section ends*/

      /* contact section starts */
      .contact .icons-container{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(2rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
        gap: 2rem;
      }
      .contact .icons-container .icons{
        border: 0.16rem solid rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        padding: 2.5rem;
        border-radius: 0.5rem;
        text-align: center;
      }
      .contact .icons-container .icons i{
        font-size: 1.5rem;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        border: 0.16rem solid rgba(0, 0, 0, 0.3);
        border-radius: 50%;
      }
      .contact .icons-container .icons address, .contact .icons-container .icons a{
        font-size: 1rem;
      color: #130f40;
      font-weight: 700;
      margin: 0.8rem 0;
      text-decoration: none;
      }
      .contact .icons-container .icons address p, .contact .icons-container .icons a p{
        font-size: 1rem;
        color: #eb4d4b;
        font-weight: 500;
      }
      .contact .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2.5rem;
      }
      .contact .row form {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
        border: 0.16rem solid rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          padding: 2rem;
          border-radius: 0.6rem;
      }
      .contact .row form h3 {
        font-size: 2.8rem;
        color: #130f40;
        text-transform: capitalize;
        margin-bottom: 1rem;
      }
      .contact .row form .inputBox{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      }
      .contact .row form .inputBox input {
        width: 49%;
      }
      .contact .row form textarea {
        height: 15rem;
        resize: none;
        width: 100%;
      }
      .contact .row form .inputBox input, .contact .row form textarea {
        border: 0.16rem solid rgba(0, 0, 0, 0.3);
        border-radius: 0.5rem;
        padding: 0.8rem 1.5rem;
        margin-bottom: 1rem;
        font-size: 1.7rem;
        color: #130f40;
        text-transform: none;
      }
      .contact .row .map {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 42rem;
                flex: 1 1 42rem;
        width: 100%;
        padding: 1.5rem;
        border: 0.16rem solid rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        border-radius: 0.6rem;
      }
      /* contact section ends */
